* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
  font-family: "IBMPlexSansKR-Regular";
  --greenColor: #244655;
  --greenColor2: #4f849b;
  --ligthGreen: #f0f4f3;
  --redColor: #d73a2c;
  transition: all 0.3s ease;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  user-select: none;
}

header div#headWrap {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: no-repeat center url("../img/headLg.png");
  background-size: cover;
}

header div#headWrap nav#navTopWrap {
  align-self: flex-start;
  width: 100%;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

header div#headWrap #titWrap {
  height: 90%;
  padding: 0 15px;
  font-size: 1.8rem;
  color: var(--greenColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
header div#headWrap #titWrap h1 {
  font-family: "SuseongDotum";
}

header nav#navBtm {
  height: 160px;
  background: #f9f9f9;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

header nav#navBtm a {
  color: var(--greenColor);
}

header nav#navBtm #navBtmTxt {
  display: none;
}
header nav#navBtm #navBtmTxt div {
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 10px;
  font-family: "SuseongDotum";
}

header nav#navBtm ul {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

header nav#navBtm ul li {
  transition: all 0s;
}

header nav#navBtm ul li:hover {
  cursor: pointer;
  font-weight: bold;
}
header nav#navBtm ul i {
  font-size: 36px;
  color: var(--greenColor);
  margin-bottom: 10px;
}

section {
  margin: 0 auto;
  padding: 60px 5px;
  max-width: 1100px;
}

section h2.secTit {
  text-align: center;
  font-size: 60px;
  color: var(--greenColor);
  line-height: 70px;
}

/* 첫번째 섹션 */
section#bubble .bubbleLine {
  height: 3px;
  background: lightgray;
  position: relative;
}

section#bubble .bubbleLine img {
  position: absolute;
  background-color: white;
  top: -10px;
}
section#bubble .bubbleLine:last-child img {
  position: absolute;
  background-color: white;
  top: -10px;
  right: 0;
}

section#bubble #bubbleContent {
  padding: 30px 0;
}

section#bubble #bubbleContent div:last-child {
  text-align: right;
}

section#bubble #bubbleContent img {
  max-width: 90%;
  margin-top: 30px;
  height: auto;
}

/* 두번째 섹션 */
section#partDesc h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 80px;
}

/* 세번째 섹션 */
section#popGoods h4 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 80px;
  color: #777;
}

section#popGoods article ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, minmax(250px, auto));
  gap: 10px 5px;
}

section#popGoods article #lastGrid {
  grid-column: 1 / 3;
}

section#popGoods article ul li {
  border-radius: 20px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

section#popGoods article li:hover img {
  transform: scale(0.9);
}

section#popGoods article li:hover .goodsTxtWrap {
  transform: scale(1.1);
}

section#popGoods article img {
  width: 80%;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

section#popGoods article .goodsTxtWrap {
  width: 100%;
  transition: all 0.3s ease;
}

section#popGoods article .goodsTxtWrap div:first-child,
section#popGoods article .goodsTxtWrap div:last-child {
  font-size: 22px;
  font-weight: bold;
}

/* 네번째 섹션 */
section#popBrands .secTit {
  margin-bottom: 50px;
}

section#popBrands #togBrandWrap {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

section#popBrands #togBrandWrap button {
  cursor: pointer;
  padding: 7px 10px;
  font-size: 25px;
  min-width: 70px;
  border: none;
  background: none;
  font-weight: bold;
  opacity: 0.4;
}

#togBrandWrap .line {
  height: 3px;
  position: absolute;
  bottom: 0;
  margin: 10px 0 0 0;
  background: var(--redColor);
  transition: all 0.3s ease;
}

section#popBrands #togBrandWrap button:hover {
  opacity: 0.7;
}
section#popBrands #togBrandWrap button.active {
  opacity: 1;
}

section#popBrands article {
  display: none;
  transition: all 0.4s;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#popBrands article div {
  font-size: 22px;
  padding: 20px 15px 5px 15px;
}

section#popBrands article p {
  margin-top: 10px;
}

section#popBrands article p a {
  font-weight: bold;
  color: var(--greenColor);
}

section#popBrands article#brdArt1 {
  display: flex;
}

.ScroHidden {
  opacity: 0.5;
  transform: translateY(20px);
}

.Scrovisible {
  opacity: 1;
  transform: translateY(0);
}

section#popBrands article img {
  width: 90%;
  border-radius: 10px;
}

/* 다섯번째 섹션 */
section#mapSect .secTit {
  margin-bottom: 50px;
}

section#mapSect #divMap {
  width: 90%;
  height: 500px;
  background-color: #aaa;
  border-radius: 10px;
  margin: 0 auto;
}

/* 푸터 */
footer {
  min-height: 200px;
  background: var(--greenColor);
  padding: 40px 30px;
  color: white;
  user-select: none;
}

footer a {
  color: white;
}

#footWrap1,
#contactWrap {
  display: flex;
}

footer #footWrap1 {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
  gap: 20px;
}

footer #footWrap1 h3 {
  font-size: 33px;
  line-height: 35px;
}

footer #footWrap1 h4 {
  font-size: 25px;
}

footer #footWrap1 #contactWrap {
  gap: 20px;
  font-size: 30px;
}

footer #footWrap1 #contactWrap a:hover {
  transform: scale(0.9);
}

footer #footWrap2 h4 {
  font-size: 23px;
}

footer #footWrap2 ul {
  display: flex;
  column-gap: 25px;
  font-size: 20px;
  flex-wrap: wrap;
  transition: 0s;
}

footer #footWrap2 ul a {
  position: relative;
}

footer #footWrap2 #mapWrap {
  margin-bottom: 25px;
}

footer .link li:before,
footer .link li:after {
  content: "";
  border-bottom: solid 1px white;
  position: absolute;
  bottom: 0;
  width: 0;
  transition: all 0.2s ease;
}

footer .link li:before {
  left: 0;
}
footer .link li:after {
  right: 0;
}

footer .link li:hover:before,
footer .link li:hover:after {
  width: 50%;
}

@media screen and (min-width: 500px) {
  header div#headWrap #titWrap {
    font-size: 2rem;
  }
  header nav#navBtm ul i {
    font-size: 40px;
  }
}

@media screen and (min-width: 750px) {
  header div#headWrap #titWrap {
    font-size: 3rem;
  }

  header div#headWrap #titWrap h1:last-child {
    margin-left: 70px;
  }

  header nav#navBtm ul div {
    font-size: 20px;
  }
  section {
    margin: 0 auto;
    padding: 80px 10px;
  }
}

@media screen and (min-width: 900px) {
  section#popGoods article ul {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: repeat(2, 290px);
    gap: 10px 20px;
  }

  section#popGoods article img {
    width: 70%;
  }

  section#popGoods article #thirdGrid {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  section#popGoods article #lastGrid {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  section#popGoods article #lastGrid img {
    width: 100%;
  }

  section#popBrands article {
    flex-direction: row;
  }
  section#popBrands article img {
    width: 50%;
  }
  section#popBrands article div {
    padding-left: 50px;
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  footer #footWrap1 {
    margin-bottom: 0;
  }

  footer #footWrap2 ul a,
  footer #footWrap2 ul li {
    display: inline-block;
  }
  footer #footWrap2 #mapWrap {
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1030px) {
  header nav#navBtm #navBtmTxt {
    display: block;
  }
}

@font-face {
  font-family: "SuseongDotum";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/SuseongDotum.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff") format("woff");
}
