#swiperContain{
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.swiper {
  width: 70%;
  height: 450px;
}

@media screen and (max-width:800px){
  #swiperContain{
    display: block;
  }

  .swiper {
    margin-left:80px;
  }
}

@media screen and (max-width:500px) {
  .swiper {
    margin-left:30px;
  }
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  padding: 50px;
}

.swiper-slide-fully-visible{
  background-color: #eee !important;
}

.swiper-slide:nth-child(1n) {
  background-color: lightcoral;
}

.swiper-slide:nth-child(2n) {
  background-color: lightseagreen;
}

.swiper-slide:nth-child(3n) {
  background-color: lightgreen;
}

.swiper-slide:nth-child(4n) {
  background-color: lightyellow;
}

.swiper-slide:nth-child(5n) {
  background-color: lightblue;
}

.swiper-slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.swiper-slide .swipeImgWrap{
  width: 50%;
  height: 100%;
  background: white;
  border-radius: 20px;
  overflow: hidden;
}

.swiper-slide .swipeImgWrap img{
  width: 100%;
  height: auto;
  object-fit: cover; 
  object-position: center; 
}