* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
  font-family: "IBMPlexSansKR-Regular";
  --greenColor: #244655;
  --greenColor2: #4f849b;
  --ligthGreen: #f0f4f3;
  --redColor: #d73a2c;
}

a {
  text-decoration: none;
}

body {
  transition: all 0.2s;
  height: 100dvh;
}

button {
  cursor: pointer;
  background: none;
}

section#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section .goHome {
  cursor: pointer;
  position: fixed;
  top: 15px;
  left: 15px;
}

section .goHome i {
  font-size: 30px;
  margin: 0 auto;
}
section .goHome div {
  font-size: 18px;
  color: var(--greenColor);
}

section#main h1 {
  color: var(--greenColor);
  font-size: 40px;
  margin-bottom: 50px;
}

section#qna,
section#result {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section#qna .qnaWrap {
  display: flex;
  justify-content: center;
  background: white;
  border-radius: 30px;
  box-shadow: 0 0 30px -2px rgba(0, 0, 0, 0.1);
  padding: 20px 40px 0 20px;
}

section#qna .qnaWrap .qnaLe,
section#qna .qnaWrap .qnaRi {
  padding: 30px 0;
}

section#qna .qnaWrap .qnaLe {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#qna .qnaWrap .qnaLe .qTitle {
  min-width: 405px;
  min-height: 106px;
  width: 90%;
  font-size: 30px;
  color: var(--greenColor);
}

section#qna .qnaWrap .qnaLe img {
  width: 70%;
  max-width: 330px;
  margin: 60px 0;
}

section#qna .qnaWrap .qnaRi {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section#qna .qnaWrap .qnaRi .qnaAWrap {
  display: flex;
  flex-direction: column;
}

section#qna .qnaWrap .qnaRi .qnaAWrap input {
  display: none;
}
section#qna .qnaWrap .qnaRi .qnaA {
  background: var(--ligthGreen);
  border-radius: 25px;
  padding: 20px;
  margin: 10px 0;
  font-weight: 600px;
  cursor: pointer;
}

#fir:checked + .qnaA {
  font-weight: bold;
}
#sec:checked + .qnaA {
  font-weight: bold;
}
#thi:checked + .qnaA {
  font-weight: bold;
}
#fou:checked + .qnaA {
  font-weight: bold;
}
#fif:checked + .qnaA {
  font-weight: bold;
}
#six:checked + .qnaA {
  font-weight: bold;
}
#sev:checked + .qnaA {
  font-weight: bold;
}

section#qna .qnaWrap .qnaRi .redWord {
  color: var(--redColor);
  font-weight: bold;
}

section#qna .qnaWrap .qnaRi button {
  align-self: flex-end;
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  font-size: 17px;
  font-weight: bold;
  border: 2px solid var(--greenColor2);
  color: var(--greenColor2);
}

section#qna .qnaWrap .qnaRi button:hover {
  background: var(--greenColor2);
  color: white;
}

section#result .resultWrap {
  background: white;
  border-radius: 30px;
  box-shadow: 0 0 30px -2px rgba(0, 0, 0, 0.1);
  padding: 60px 50px 50px 40px;
  font-size: 22px;
}

section#result .resultWrap h3 {
  font-size: 35px;
  margin-bottom: 20px;
  color: var(--greenColor);
}

section#result .resultWrapInner {
  display: flex;
  gap: 30px;
}

section#result .resultWrapInner img {
  margin-left: 20px;
  max-width: 450px;
  object-fit: contain;
}

.resultWrapInner .resultNoteWrap {
  max-width: 400px;
  padding: 30px;
}

.resultNoteWrap h5 {
  font-size: 23px;
  font-weight: normal;
}

.resultNoteWrap h4 {
  font-size: 30px;
}

.resultNoteWrap p {
  margin-bottom: 20px;
}

.resultNoteWrap .btnWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.resultNoteWrap .btnWrap div {
  color: var(--greenColor2);
  font-size: 19px;
  font-weight: bold;
}

.resultNoteWrap .btnWrap i {
  font-size: 20px;
}

.resultNoteWrap .btnWrap button {
  font-size: 17px;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: bold;
  border: 2px solid var(--greenColor2);
  color: var(--greenColor2);
}

.resultNoteWrap button:hover {
  background: var(--greenColor2);
  color: white;
}

.downHide {
  animation: downHide 0.3s ease;
}

.upShow {
  animation: upShow 0.3s ease;
}

@keyframes downHide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes upShow {
  0% {
    opacity: 0.2;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 950px) {
  .goHome {
    z-index: -1;
  }

  section#qna,
  section#result {
    height: auto;
  }
  section#result .resultWrapInner img {
    max-height: 300px;
    margin-left: 0;
  }
  section#qna .qnaWrap,
  section#result .resultWrapInner {
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section#qna .qnaWrap,
  section#result .resultWrap {
    padding: 40px;
  }

  section#qna .qnaWrap .qnaLe,
  section#qna .qnaWrap .qnaRi {
    padding: 0;
  }

  section#qna .qnaWrap .qnaRi button {
    margin-top: 20px;
  }

  section#qna .qnaWrap .qnaLe img {
    margin: 0;
  }
}

@media screen and (max-width: 750px) {
  section#main h1 {
    color: var(--greenColor);
    font-size: 30px;
    margin-bottom: 20px;
  }

  section#qna .qnaWrap,
  section#result .resultWrap {
    padding: 20px;
  }

  section#qna .qnaWrap .qnaLe .qTitle {
    min-width: none;
    min-height: none;
    width: 90%;
    font-size: 25px;
    color: var(--greenColor);
  }
}

@media screen and (max-width: 650px) {
  .goHome {
    display: none;
  }
}

@font-face {
  font-family: "SuseongDotum";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/SuseongDotum.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff") format("woff");
}
