/* https://codepen.io/kathykato/pen/gOOjgmP */

section#main button {
  position: relative;
  outline: none;
  vertical-align: middle;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: var(--greenColor);
  text-transform: uppercase;
  padding: 20px 30px;
  background: #f0fff0;
  border: 2px solid var(--greenColor);
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
section#main button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #61899b;
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--greenColor), 0 0.625em 2px 0 #c3dae0;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
section#main button:hover {
  background: #f0fff0;
  transform: translate(0, 0.25em);
}
section#main button:hover::before {
  box-shadow: 0 0 0 2px var(--greenColor), 0 0.5em 0 0 #c3dae0;
  transform: translate3d(0, 0.5em, -1em);
}
section#main button:active {
  background: #cce2e7;
  transform: translate(0em, 0.75em);
}
section#main button:active::before {
  box-shadow: 0 0 0 2px var(--greenColor), 0 0 #c3dae0;
  transform: translate3d(0, 0, -1em);
}

@media screen and (max-width: 680px) {
  section#main button {
    padding: 15px 20px;
  }
}
